
.home-card .location {
    text-transform: uppercase;
    color: #848484;
    font-family: revert;
    margin-bottom: 2px;
}
.home-card .name {
    font-weight: 600;
    font-family: sans-serif;
    margin-top: 5px;
    font-size: 15px;
    margin-bottom: 2px;
}
.home-card svg {
    color: #288ec9;
}

