@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
nav.navbar.navbar-expand-lg.navbar-light {
    border-bottom: 1px solid #2bde8e7d;
    box-shadow: 0px 0px 7px 1px #1567424a;
}

.navbar-brand {
    font-family: 'Fredoka One', cursive;
    color: hsl(153deg 73% 52%) !important;
    font-size: 30px !important;
}

.nav-link {
    font-family: inherit;
    font-weight: 500;
    padding: 10px 15px !important;
    cursor: pointer;
}
