img {
    width: 100%;
    height: auto;
}

.btn-brand {
    background-image: linear-gradient(to right, #2bde8e, #2bde58);
    color: white !important;
    padding: 10px 22px !important;
    border-radius: 5px;
    border: none !important;
}

.btn-outline {
    color: #2bde8e;
    border: 2px solid #1fad6d;
    background: none;
    padding: 5px 20px;
    border-radius: 5px;
    font-weight: 600;
}
.box-shadow {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 10px;
    box-shadow: 1px 1px 3px 0px #d2d2d2;
}
.btn-filter{
    border: 1px solid gray;
    padding:6px 10px;
    background:none;
    border-radius: 20px;
    margin: 10px 10px 10px 0px;
    font-size: 14px;
}